.digivigilWWWGuestbookListItemInterface {
    color: #ffffff;
    background: rgba(20, 75, 115, 0.8);
    display: block;
    text-align: center;
    padding: 30px;
    border: solid rgba(84, 227, 84, 1) 3px;
    border-radius: 15px;
    min-width: 40vw;
    margin: 20px;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(84, 227, 84, 1);
    -moz-box-shadow: 0px 0px 10px 0px rgba(84, 227, 84, 1);
    box-shadow: 0px 0px 10px 0px rgba(84, 227, 84, 1);
    outline: none;
}

.digivigilWWWGuestbookListItemInterfaceDateDiv {
    display: inline-block;
    float: right;
    background: #0c334f;
    border: solid #c2c2c2 2px;
    border-radius: 5px;
    padding: 5px;
    font-size: calc(6px + .2vh);
}


.digivigilWWWGuestbookListItemInterfacePersonFromDiv {
    display: inline-block;
    float: left;
    background: #0c334f;
    border-radius: 5px;
    border: solid #c2c2c2 .25px;
    font-size: calc(6px + .2vh);
    padding: 5px;
}

.digivigilWWWGuestbookListItemInterfaceHeaderDiv {
    display: block;
    background: none;
    height: 5vh;
    min-height: 40px;
}


.digivigilWWWGuestbookListItemInterfaceNoteDiv {
    display: block;
    background: #ffffff;
    border: solid #c2c2c2 2px;
    font-size: .25vh;
    font-size: calc(12px + .25vh);
    border-radius: 5px;
    color: black;
}