.twitterContactsInterfaceContactsList {
    position: absolute;
    background:none;
    display: inline-block;
    text-align: center;
    padding: 100px;
    border:none;
    visibility: visible;
    z-index: 3;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    outline: none;
    opacity: 0;
    font-size: 200px;
}