.moduleBalekuteConnectInterface{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    /*background: lightblue;*/
}


/* latin-ext */
@font-face {
    font-family: 'Righteous';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/righteous/v14/1cXxaUPXBpj2rGoU7C9WhnGFq8Kk1doH.woff2) format('woff2');
    unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: 'Righteous';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/righteous/v14/1cXxaUPXBpj2rGoU7C9WiHGFq8Kk1Q.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}



.moduleBalekuteConnectInterfaceMainContent {
    background: rgba(189, 189, 189, 0.87);
    display: inline-block;
    text-align: center;
    padding: 30px;

    border-radius: 50%;
    visibility: visible;
    z-index: 5;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    outline: none;
    width: 500px;
    height: 500px;
}


#moduleBalekuteConnectInterfaceScapturaTitle {
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -345px);
    font-family: 'Righteous', Arial, Helvetica, sans-serif;
    font-size: 72px;
    color: black;
    z-index: 10;
}
#moduleBalekuteConnectInterfaceOfDigivigil {
    text-align: center;
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, 260px);
    font-family: 'Righteous', Arial, Helvetica, sans-serif;
    font-size: 38px;
    color: black;
    z-index: 10;
}

#moduleBalekuteConnectInterfaceOfDigivigilImage{
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, 195px);
    font-family: 'Righteous', Arial, Helvetica, sans-serif;
    font-size: 38px;
    color: black;
    z-index: 10;
   height: 68px;
}

.moduleBalekuteConnectInterfaceQRImage{
    width: 100px;
    height: 100px;
    border: solid #050530 3px;
    -webkit-box-shadow: 0 0 15px 8px #050530;
    box-shadow: 0 0 15px 8px #050530;
}

.moduleBalekuteConnectInterfaceScapturaImage {
    width: 500px;
    height: 500px;
}

.moduleBalekuteConnectInterfaceQRDiv {
    background: black;
    display: inline-block;
    text-align: center;
    padding: 20px;
    border: solid #050530 3px;
    -webkit-box-shadow: 0 0 15px 8px #050530;
    box-shadow: 0 0 15px 8px #050530;
    border-radius: 50%;
    visibility: visible;
    z-index: 5;
    position: absolute;
    top: 60%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -7%);
    outline: none;

}
.moduleBalekuteConnectInterfaceInvitationList{
    position: relative;
    background: transparent;
    overflow: auto;
    border-radius: 8px;

}







.moduleBalekuteConnectInterfaceContentBackground {
    border-radius: 8px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
}


.moduleBalekuteConnectInterfaceMainBackground {
    border-radius: 8px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
}

