.moduleBalekuteConnectInterface{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    /*background: lightblue;*/
}



.moduleBalekuteConnectInterfaceMainContent {
    background: black;
    display: inline-block;
    text-align: center;
    padding: 30px;
    border: solid #050530 3px;
    -webkit-box-shadow: 0 0 15px 8px #050530;
    box-shadow: 0 0 15px 8px #050530;
    border-radius: 50%;
    visibility: visible;
    z-index: 5;
    position: absolute;
    bottom: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    outline: none;
}


.moduleBalekuteConnectInterfaceQRImage{
    width: 100px;
    height: 100px;
    border: solid #050530 3px;
    -webkit-box-shadow: 0 0 15px 8px #050530;
    box-shadow: 0 0 15px 8px #050530;
}

.moduleBalekuteConnectInterfaceScapturaImage {
    width: 500px;
    height: 500px;
}

.moduleBalekuteConnectInterfaceQRDiv {
    background: black;
    display: inline-block;
    text-align: center;
    padding: 20px;
    border: solid #050530 3px;
    -webkit-box-shadow: 0 0 15px 8px #050530;
    box-shadow: 0 0 15px 8px #050530;
    border-radius: 50%;
    visibility: visible;
    z-index: 5;
    position: absolute;
    top: 60%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -7%);
    outline: none;

}
.moduleBalekuteConnectInterfaceInvitationList{
    position: relative;
    background: transparent;
    overflow: auto;
    border-radius: 8px;

}







.moduleBalekuteConnectInterfaceContentBackground {
    border-radius: 8px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
}


.moduleBalekuteConnectInterfaceMainBackground {
    border-radius: 8px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
}