body {
    text-align: center
}

.diaplodeNavigatorInterface * {

}

.diaplodeNavigatorInterface {
    position: absolute;
    background: rgba(77, 164, 164, 0.17);
    display: inline;
    display: inline-block;
    text-align: center;
    padding: 30px;
    border: solid #050530 3px;
    -webkit-box-shadow: 0px 0px 15px 8px #050530;
    box-shadow: 0px 0px 15px 8px #050530;
    border-radius: 50%;
    visibility: visible;
    z-index: 5;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    outline: none;
    opacity: 0;
}

.diaplodeNavigatorInterface:focus{
border: solid #50d1d1 3px;
}


.diaplodeNavigatorInterfaceImage {
    width: 0px;
}