.diaplodeNavigatorInterfaceRadialMenu{
position: absolute;
    top:0;
    left: 0;

    background: none;

    filter: invert();
    z-index: 100000;

    color: black;
}

.diaplodeNavigatorInterfaceRadialMenuImage{
   width: 200px;
}
