.diaplodeNavigatorInterfaceRadialMenu{
position: absolute;
    top:0;
    left: 0;

    background: none;

    filter: invert();
    z-index: 100000;

    color: black;

    outline: none;
opacity: 0;

transform: translate(-50%, -50%);
}

.diaplodeNavigatorInterfaceRadialMenuImage{
    width: 5vw;
}



.diaplodeNavigatorInterfaceRadialMenuTitle{
   position: absolute;
    top: 0;
    left: 0;
}