.balekWorkspaceContainerWidgetMovableResizableFrame * {

}


.balekWorkspaceContainerWidgetMovableResizableFrame {
    position: absolute;
    pointer-events: auto;
    background: none;

    display: grid;
    grid-template-columns: 5px 1fr 5px;
    grid-template-rows: 15px 1fr 5px;
    grid-column-gap: 0px;
    grid-row-gap: 0px;


    padding: 0;
    margin: 0;
    border: none;
    border-bottom: solid #050530 3px;

    visibility: visible;
    top: 300px;
    left: 300px;
    right: 0;
    bottom: 0;

    width: 726px;
    height: 422px;


    outline: none;
    opacity: 1;

    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 25px 3px #050530;
    box-shadow: 0px 0px 25px 3px #050530;

    text-align: left;

    z-index:1

}

.balekWorkspaceContainerWidgetMovableResizableFrameTopBarDiv {
    position: relative;

    grid-area: 1 / 1 / 2 / 4;
    background: rgba(77, 164, 164, 0.7);
    color: white;
    overflow: auto;
    scroll: auto;

    padding-left: 10px;
    padding-top: 5px;
    font-size: 10px;

    cursor: move;

    border: none;
    border-top: solid 2px black;
    border-left: solid 2px black;
    border-right: solid 2px black;


}
.balekWorkspaceContainerWidgetMovableResizableFrameContentDiv {
    position: relative;
    grid-area: 2 / 2 / 3 / 3;
    background: none;
overflow: hidden;
}
.balekWorkspaceContainerWidgetMovableResizableFrameBottomBarDiv {
    position: relative;

    grid-area: 3 / 1 / 4 / 4;
    background: rgba(77, 164, 164, 0.7);
    border: none;
    border-bottom: solid 2px black;
    border-right: solid 2px black;

    border-left: solid 2px black;

}

.balekWorkspaceContainerWidgetMovableResizableFrameLeftBarDiv {
    grid-area: 2 / 1 / 3 / 2;
    background: rgba(77, 164, 164, 0.7);

    border: none;
    border-left: solid 2px black;

}
.balekWorkspaceContainerWidgetMovableResizableFrameRightBarDiv {
    grid-area: 2 / 3 / 3 / 4;
    background: rgba(77, 164, 164, 0.7);
    border: none;
    border-right: solid 2px black;
}
