/*todo make seperate css for each html
*/

.userManagement {
    text-align: center
}

.userManagementWidget {
    position: relative;
    border: solid black 5px;
    background: rgba(20, 75, 115, 0.41);
    padding: 50px;
    padding-top: 30px;
    border-radius: 10px;
    display: inline-block;
    pointer-events: all;
    margin: auto;
    margin-right: 30px;
}

.userManagementWidgetUserAddDiv {
    position: relative;
    border: solid black 5px;
    background: rgba(8, 213, 67, 0.41);
    padding: 5px;
    border-radius: 10px;
    display: inline-block;
    pointer-events: all;
    cursor: pointer;
}

.userManagementWidgetUserAddDiv:hover{
    border: solid rgba(8, 213, 67, 0.41) 5px;
    background: black;
}

.userManagementWidgetUserList {
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    width: auto;
}

.userManagementWidgetUserListItem {
    padding: 5px;
    border: solid black 3px;
    background: #1C6EA4;
    margin: 20px;
    -webkit-box-shadow: 5px 5px 15px 5px #000000;
    box-shadow: 5px 5px 15px 5px #000000;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.mouseOverUserListItem {
    border: solid #7e0000 3px;
    cursor: pointer;
}

.userManagementWidgetUserListItemUserImage {
    max-width: 100px;
}

.userManagementWidgetUserEditFileInputLabel {
    min-width: 50px;
    min-height: 50px;
    cursor: pointer;
}
