.userManagementWidgetUserEditUserImage {
    max-width: 100px;
    min-width: 50px;
    min-height: 50px;
    cursor: pointer;
}

.userManagementWidgetUserEditUserImageDiv {
    cursor: pointer;
    border: solid transparent 3px;
    border-radius: 25px;
    padding: 5px;
    margin: 5px;
}

.mouseOverUserEditImage {
    border: solid #7e0000 3px;
    cursor: pointer;
    border-radius: 25px;
}

.userManagementWidgetUserEdit {
    outline: 0px solid transparent;
    background: rgba(28, 76, 164, 0.9);
    display: inline-block;
    text-align: center;
    padding: 30px;
    border: solid black 3px;
    border-radius: 25px;
    visibility: visible;
    width: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.userManagementWidgetUserEditFileInput {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.userManagementWidgetUserEditIconFileLabel {
    cursor: pointer;
    display: inline;
    display: inline-block;
    border: solid black 2px;
    padding: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.userManagementWidgetUserEditSubmitButton {
    background-color: #3142af;
    border: solid black 1px;
    color: white;
    padding: 12px 12px;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.userManagementWidgetUserEditPasswordField {
    border: solid black 2px;
    background: none;
    margin: 5px;
}

.passwordError {
    border: solid red 3px;
}

input {
    text-align: center;
}


/* InlineEditBox
 *
 * Styling InlineEditBox mainly includes:
 *
 * 1. Normal state
 * 		.dijitInlineEditBoxDisplayMode  - for border
 *
 * 2. Hover state
 * 		.dijitInlineEditBoxDisplayModeHover - for border and background color
 */
.dijitInlineEditBoxDisplayMode {
    border: 1px solid transparent;
}

.dijitInlineEditBoxDisplayModeHover {
    background-color: #e5f2fe;
    border: solid 1px #759dc0;
}

.dijitInlineEditBoxDisplayMode {
    border: none;
}

.dijitInputInner {
    color: #000000;
}

.dijitSelectLabel,
.dijitTextBox .dijitInputInner,
.dijitValidationTextBox .dijitValidationContainer {
    padding: 1px 0;
}

.dijitSelectDisabled,
.dijitTextBoxDisabled,
.dijitTextBoxDisabled .dijitInputInner {
    color: #818181;
}

.dj_gecko .dijitTextBox .dijitInputInner,
.dj_webkit .dijitTextBox .dijitInputInner {
    padding-left: 1px;
    padding-right: 1px;
}


.dj_gecko .dijitTextBox .dijitInputInner,
.dj_webkit .dijitTextBox .dijitInputInner {
    padding-left: 1px;
    padding-right: 1px;
}