.digivigilDigiscanCaptureGridViewInterface {
  color: #000000;
  background: rgba(246, 242, 242, 0.89);
  display: inline-block;
  text-align: left;
  padding: 0;
  border: none;
  border-radius: 15px;
  width: 300px;
  height: 400px;
  margin: 0;
  outline: none;
  font-size: 10pt;
  -webkit-box-shadow: 3px 6px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 3px 6px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 3px 6px 5px 0px rgba(0, 0, 0, 0.75);

  vertical-align: center;
  align-items: stretch;

  flex-grow: 1;
  max-width: 500px;
  }

.digivigilDigiscanCaptureGridViewInterfaceImageAndTextGrid {
  position: relative;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto  auto;
  gap: 0px 0px;
  /*grid-template-areas: "PreviewImage PreviewInfo";*/
  grid-template-areas: "PreviewImage" "PreviewInfo";
  height: 300px;
  max-width: 100%;
}
.digivigilDigiscanCaptureGridViewInterfaceCaptureNotInSet {
  filter: grayscale(1);
}
.digivigilDigiscanCaptureGridViewInterfaceImageDiv {
  padding: 10px;
  position: relative;
  /*left: 50%;*/
  /*transform: translateX(-50%);*/
  display: inline-block;


  display: flex;
  justify-content: center;  /* Horizontally centers the image */
  align-items: center;      /* Vertically centers the image */
  /*width: 100%;              !* Adjust based on your needs *!*/
  /*height: 400px;            !* Adjust based on your needs *!*/
  /*background-color: #f0f0f0; !* Optional background color *!*/
}

.digivigilDigiscanCaptureGridViewInterfaceImage {
  max-width: 200px;
  max-height: 200px;

  min-width: 40px;
  min-height: 40px;

  border-radius: 5px;
  border: solid rgba(38, 38, 38, 0.8) 4px;
  cursor: pointer;

  margin:auto;

  object-fit: contain;  /* Ensures the image maintains aspect ratio */

}
.digivigilDigiscanCaptureGridViewInterfaceImage:hover {
  filter: invert();
}

.digivigilDigiscanCaptureGridViewInterfaceNoImage {
  width: 40px;
  height: 40px;

}

.digivigilDigiscanCaptureGridViewInterfaceNoteText {
  color: black;
}

.digivigilDigiscanCaptureGridViewInterfaceText {
  color: black;
margin-right:5px;
}

.digivigilDigiscanCaptureGridViewInterfaceRecognizedText {
  color: black;
  white-space: pre-wrap;
}

.digivigilDigiscanCaptureGridViewInterfaceRecognizedTextDiv {
  position: relative;
  display: block;
  background: none;
  border-radius: 5px;
  padding: 10px;
  font-family: monospace;

  padding-right: 20px;

  overflow: scroll;
  /*max-height: 300px;*/
  /*max-width: 300px;*/
  background: rgba(255, 255, 255, 0.95);
}

.digivigilDigiscanCaptureGridViewInterfaceBarcodeDiv {
  position: relative;
  display: block;
  color: black;

  /*align-items: right;*/
  text-align: right;
  line-height: 20px;
  min-height: 20px;
  padding: 3px;

  /*max-width: 500px;*/

}

.digivigilDigiscanCaptureGridViewInterfaceIconImg {
  display: inline;
  width: 20px;
  height: 20px;
  filter: invert(100%);
}

.digivigilDigiscanCaptureGridViewInterfaceCreatedDiv {
  position: relative;
  display: block;
  /*float: left;*/
  /*background: rgba(106, 178, 238, 0.86);*/

  /*border: solid #c2c2c2 2px;*/
  justify-content: flex-end;
  align-items: flex-start;
  text-align: right;

  padding: 5px;
  color: black;
  margin: 5px;
  margin-bottom: 0;
}

.digivigilDigiscanCaptureGridViewInterfaceHeaderDiv {
  position: relative;
  display: block;
  background: none;
  height: 100%;

}

.digivigilDigiscanCaptureGridViewInterfaceListDiv {
  display: block;
  background: none;
  height: 100%;
}

.digivigilDigiscanCaptureGridViewInterfaceContentDiv {
  display: flex;
  background: none;
}

.digivigilDigiscanCaptureGridViewInterfaceNoteDiv {
  position: absolute;
  display: block;
  /*background: #ffffff;*/
  /*border: solid #c2c2c2 2px;*/
  color: black;
  background: rgba(249, 255, 172, 0.95);
  padding: 10px;
  min-height: 20px;

  border-radius: 0 0 15px 15px;
  bottom: 0;
  left: 0;
  right: 0;
}
