.digivigilDigiscanCaptureDetailViewInterface {
    color: #ffffff;
    background: rgba(20, 75, 115, 0.9);
    display: inline-block;
    text-align: left;
    padding: 0;
    border: none;
    border-radius: 15px;
    min-width: 200px;
    margin: 10px;
    outline: none;
    font-size: 10pt;

    /*border: solid rgba(20, 75, 115, 0.8) 2px;*/
/*border: solid white 2px;*/

    /*filter: drop-shadow(5px 5px 10px #000);*/
    -webkit-box-shadow: 3px 6px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px 6px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 3px 6px 5px 0px rgba(0,0,0,0.75);

    vertical-align: middle;

}
.digivigilDigiscanCaptureDetailViewInterfaceCaptureNotInSet{
    filter:grayscale(1)
}
.digivigilDigiscanCaptureDetailViewInterfaceImageDiv{
   padding: 10px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    display: inline-block;
}

.digivigilDigiscanCaptureDetailViewInterfaceImage{


    border-radius: 5px;
    border: solid rgba(38, 38, 38, 0.8) 4px;
    cursor: pointer;


}



.digivigilDigiscanCaptureDetailViewInterfaceNoImage{
    width: 40px;
   height: 40px;


}

.digivigilDigiscanCaptureDetailViewInterfaceNoteText {
    color: black;
}

.digivigilDigiscanCaptureDetailViewInterfaceText {
color: pink;
}

.digivigilDigiscanCaptureDetailViewInterfaceRecognizedText {
    color: white;
    white-space: pre-wrap;
}

.digivigilDigiscanCaptureDetailViewInterfaceRecognizedTextDiv {
    position: relative;
    display: block;
    background: none;
    border-radius: 5px;
    padding: 10px;
    font-family: monospace;

    padding-right: 20px;

}


.digivigilDigiscanCaptureDetailViewInterfaceBarcodeDiv {
    position: relative;
    display: block;
    color: black;

    align-items: right;
    text-align: right;
    line-height: 20px;
    min-height: 20px;
    padding: 3px;

}

.digivigilDigiscanCaptureDetailViewInterfaceIconImg {
    display: inline;
    width: 20px;
    height: 20px;

}

.digivigilDigiscanCaptureDetailViewInterfaceCreatedDiv {
    position: relative;
    display: block;
    /*float: left;*/
    /*background: rgba(106, 178, 238, 0.86);*/

    /*border: solid #c2c2c2 2px;*/    justify-content: right;
    align-items: right;
    text-align: right;

    padding: 5px;
    color: black;
    margin: 5px;
    margin-bottom: 0;
}




.digivigilDigiscanCaptureDetailViewInterfaceHeaderDiv {
    display: block;
    background: none;


}

.digivigilDigiscanCaptureDetailViewInterfaceListDiv {
    display: block;
    background: none;


}

.digivigilDigiscanCaptureDetailViewInterfaceContentDiv {
    display: flex;
    background: none;


}

.digivigilDigiscanCaptureDetailViewInterfaceNoteDiv {
    position: relative;
    display: block;
    /*background: #ffffff;*/
    /*border: solid #c2c2c2 2px;*/
    color: black;
    background: rgba(249, 255, 172, 0.95);
    padding: 10px;
    min-height: 20px;


    border-radius: 0 0 15px 15px;
}