.digivigilDigiscanCaptureViewInterface {
    color: #ffffff;
    background: rgba(20, 75, 115, 0.9);
    display: inline-block;
    text-align: left;
    padding: 0;
    border: none;
    border-radius: 15px;
    min-width: 200px;

    margin: 10px;
    outline: none;
    font-size: 10pt;

    /*border: solid rgba(20, 75, 115, 0.8) 2px;*/
/*border: solid white 2px;*/

    /*filter: drop-shadow(5px 5px 10px #000);*/
    -webkit-box-shadow: 3px 6px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px 6px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 3px 6px 5px 0px rgba(0,0,0,0.75);

    vertical-align: top;

}

.digivigilDigiscanCaptureViewInterfaceImageAndTextGrid{
    position: relative;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    gap: 0px 0px;
    grid-template-areas:
    "PreviewImage PreviewInfo";

    max-height: 400px;
    max-width: 100%;
}
.digivigilDigiscanCaptureViewInterfaceCaptureNotInSet{
    filter:grayscale(1)
}
.digivigilDigiscanCaptureViewInterfaceImageDiv{
   padding: 10px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    display: inline-block;
}

.digivigilDigiscanCaptureViewInterfaceImage{
    max-width: 200px;
    max-height: 200px;

    min-width: 40px;
    min-height: 40px;

    border-radius: 5px;
    border: solid rgba(38, 38, 38, 0.8) 4px;
    cursor: pointer;


}
.digivigilDigiscanCaptureViewInterfaceImage:hover{
    filter: invert();
}


.digivigilDigiscanCaptureViewInterfaceNoImage{
    width: 40px;
   height: 40px;


}

.digivigilDigiscanCaptureViewInterfaceNoteText {
    color: black;
}

.digivigilDigiscanCaptureViewInterfaceText {
color: pink;
}

.digivigilDigiscanCaptureViewInterfaceRecognizedText {
    color: white;
    white-space: pre-wrap;
}

.digivigilDigiscanCaptureViewInterfaceRecognizedTextDiv {
    position: relative;
    display: block;
    background: none;
    border-radius: 5px;
    padding: 10px;
    font-family: monospace;

    padding-right: 20px;

    overflow: scroll;
    max-height: 300px;
    max-width: 300px;
}


.digivigilDigiscanCaptureViewInterfaceBarcodeDiv {
    position: relative;
    display: block;
    color: black;

    align-items: right;
    text-align: right;
    line-height: 20px;
    min-height: 20px;
    padding: 3px;

    max-width: 500px;

}

.digivigilDigiscanCaptureViewInterfaceIconImg {
    display: inline;
    width: 20px;
    height: 20px;

}

.digivigilDigiscanCaptureViewInterfaceCreatedDiv {
    position: relative;
    display: block;
    /*float: left;*/
    /*background: rgba(106, 178, 238, 0.86);*/

    /*border: solid #c2c2c2 2px;*/    justify-content: right;
    align-items: right;
    text-align: right;

    padding: 5px;
    color: black;
    margin: 5px;
    margin-bottom: 0;
}




.digivigilDigiscanCaptureViewInterfaceHeaderDiv {
    display: block;
    background: none;


}

.digivigilDigiscanCaptureViewInterfaceListDiv {
    display: block;
    background: none;


}

.digivigilDigiscanCaptureViewInterfaceContentDiv {
    display: flex;
    background: none;


}

.digivigilDigiscanCaptureViewInterfaceNoteDiv {
    position: relative;
    display: block;
    /*background: #ffffff;*/
    /*border: solid #c2c2c2 2px;*/
    color: black;
    background: rgba(249, 255, 172, 0.95);
    padding: 10px;
    min-height: 20px;


    border-radius: 0 0 15px 15px;
}