.digivigilDigiscanSetControl {

}

.digivigilDigiscanSetControlGridContainer {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
    gap: 0px 0px;
    grid-template-areas:
    "NewButtonDiv StatusTextDiv HiddenButtonDiv"
    "NewButtonDiv SetSelectionDiv HiddenButtonDiv";
}


.digivigilDigiscanSetControlNewButtonDiv{
    grid-area: NewButtonDiv;
    cursor: pointer;
}

.digivigilDigiscanSetControlStatusTextDiv{
    grid-area: StatusTextDiv;
    text-align: center;
    height: 20px;
    min-width:300px;
}
.digivigilDigiscanSetControlHiddenButtonDiv{
    grid-area: HiddenButtonDiv;
    cursor: pointer;
}

.digivigilDigiscanSetControlButtonImage {
    width: 30px;
    height: 30px;
    padding: 10px;
    padding-bottom: 5px;
}


.digivigilDigiscanSetControlSelectButton{
    display: inline-block;

    cursor: pointer;
    padding-left: 10px;
    padding-right: 10px;


}





.digivigilDigiscanSetControlSetSelectionDiv{
    grid-area: SetSelectionDiv;
    cursor: pointer;

    margin-left: 10px;
    margin-right: 10px;
    /*border: solid white 1px;*/

    vertical-align: center;
}

.digivigilDigiscanSetControlSelectButton:hover {
    display: inline-block;
    /*background: white;*/
    color: black;
}
.digivigilDigiscanSetControlSelectButton:hover {
    display: inline-block;
    background: RGBA(1,1,1,0.4);
    color: black;
}


.digivigilDigiscanSetControlSelectedSet{
    background: RGBA(1,1,1,0.8);
    border-right: solid white 1px;
    border-left: solid white 1px;
}


