.digivigilDigiscanSetControl {

}

.digivigilDigiscanSetControlGridContainer {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
    gap: 0px 0px;
    grid-template-areas:
    "SetButtonsDiv StatusTextDiv ViewButtonsDiv"
    "SetButtonsDiv SetSelectionDiv ViewButtonsDiv";
}

.digivigilDigiscanSetControlSetButtonsDiv{
    grid-area: SetButtonsDiv;
    cursor: pointer;
}

.digivigilDigiscanSetControlStatusTextDiv{
    grid-area: StatusTextDiv;
    text-align: center;
    height: 20px;
    min-width:300px;
}
.digivigilDigiscanSetControlViewButtonsDiv{
    grid-area: ViewButtonsDiv;
    cursor: pointer;
}


.digivigilDigiscanSetControlViewButtonDiv{
    display: inline-block;
}


.digivigilDigiscanSetControlSetButtonImage {

    height: 15px;
    padding: 5px;

}

.digivigilDigiscanSetControlSetButtonsGrid {

    /*display: grid;*/
    /*grid-template-columns: auto;*/
    /*grid-template-rows: auto auto;*/

    /*grid-template-areas:*/
    /*"NewSetButtom"*/
    /*"DeleteSetButton";*/

}

.digivigilDigiscanSetControlViewButtonsGrid {

    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    gap: 0px 0px;
    grid-template-areas:
    "ShowHiddenButton ListViewButton"
    "ClearSetButton GridViewButton";

}

.digivigilDigiscanSetControlViewButtonDiv {
    padding: 5px;
    border: 1px solid transparent;
    border-radius: 5px;
}

.digivigilDigiscanSetControlViewButtonDiv:hover {
    border-radius: 5px;
    filter: invert();
}

.digivigilDigiscanSetControlViewButtonImage {
    height: 15px;
    padding: 0;
    padding-bottom: 0;
}

.digivigilDigiscanSetControlSelectButton{
    display: inline-block;

    cursor: pointer;
    padding-left: 10px;
    padding-right: 10px;


}
.digivigilDigiscanSetControlSetSelectionDiv{
    grid-area: SetSelectionDiv;
    cursor: pointer;

    margin-left: 10px;
    margin-right: 10px;
    /*border: solid white 1px;*/

    vertical-align: center;
}

.digivigilDigiscanSetControlSelectButton:hover {
    display: inline-block;
    /*background: white;*/
    color: black;
}
.digivigilDigiscanSetControlSelectButton:hover {
    display: inline-block;
    background: RGBA(1,1,1,0.4);
    color: black;
}


.digivigilDigiscanSetControlSelectedSet{
    background: RGBA(1,1,1,0.8);
    border-right: solid white 1px;
    border-left: solid white 1px;
}


