.digivigilDigiscanCaptureViewInterface {
    color: #ffffff;
    background: rgba(20, 75, 115, 0.9);
    display: inline-block;
    text-align: left;
    padding: 0;
    border: none;
    border-radius: 15px;
    min-width: 200px;
    margin: 10px;
    outline: none;
    font-size: 10pt;

    /*border: solid rgba(20, 75, 115, 0.8) 2px;*/
/*border: solid white 2px;*/

    filter: drop-shadow(5px 5px 10px #000);

}

.digivigilDigiscanCaptureViewInterfaceRecognizedTextDiv {
    position: relative;
    display: block;
    /*float: right;*/
    background: none;
    border-radius: 5px;
    padding: 10px;
    font-family: monospace;

    padding-right: 20px;
    /*white-space: pre-wrap;*/
    /*word-break: break-all;*/
}


.digivigilDigiscanCaptureViewInterfaceBarcodeDiv {
    position: relative;
    display: block;
    /*float: left;*/
    /*background: rgba(106, 178, 238, 0.86);*/

    /*border: solid #c2c2c2 2px;*/

    color: white;
    background: black;

    align-items: right;
    text-align: right;

    line-height: 20px;

    padding: 3px;

}

.digivigilDigiscanCaptureViewInterfaceIconImg {
    display: inline;
    width: 20px;
    height: 20px;

}

.digivigilDigiscanCaptureViewInterfaceCreatedDiv {
    position: relative;
    display: block;
    /*float: left;*/
    /*background: rgba(106, 178, 238, 0.86);*/

    /*border: solid #c2c2c2 2px;*/    justify-content: right;
    align-items: right;
    text-align: right;

    padding: 5px;
    color: white;
    margin: 5px;
    margin-bottom: 0;
}




.digivigilDigiscanCaptureViewInterfaceHeaderDiv {
    display: block;
    background: none;


}

.digivigilDigiscanCaptureViewInterfaceListDiv {
    display: block;
    background: none;


}

.digivigilDigiscanCaptureViewInterfaceContentDiv {
    display: flex;
    background: none;


}

.digivigilDigiscanCaptureViewInterfaceNoteDiv {
    position: relative;
    display: block;
    /*background: #ffffff;*/
    /*border: solid #c2c2c2 2px;*/
    color: black;
    background: rgba(249, 255, 172, 0.95);
    padding: 10px;


    border-radius: 0 0 15px 15px;
}