.digivigilDigiscanCaptureViewInterface {
    color: #ffffff;
    background: rgba(20, 75, 115, 0.8);
    display: block;
    text-align: left;
    padding: 0;
    border: nonex;
    border-radius: 15px;
    min-width: 200px;
    margin: 0;

    outline: none;
white-space: nowrap;
font-size: 10pt;
}

.digivigilDigiscanCaptureViewInterfaceRecognizedTextDiv {
    display: inline-block;
    /*float: right;*/
    background: rgba(27, 126, 117, 0.78);
    border: solid #c2c2c2 2px;
    border-radius: 5px;
    padding: 5px;
    width: 100%;
}


.digivigilDigiscanCaptureViewInterfaceCreatedDiv {
    display: inline-block;
    /*float: left;*/
    background: rgba(65, 129, 32, 0.86);

    border: solid #c2c2c2 2px;

    padding: 5px;


}

.digivigilDigiscanCaptureViewInterfaceHeaderDiv {
    display: block;
    background: none;


}

.digivigilDigiscanCaptureViewInterfaceContentDiv {
    display: flex;
    background: none;


}

.digivigilDigiscanCaptureViewInterfaceNoteDiv {
    display: inline-block;
    background: #ffffff;
    border: solid #c2c2c2 2px;
    color: black;
    background: rgba(213, 217, 101, 0.7);
flex : 1;
}