body {
text-align:center
}

.digivigilDigiscanMainInterfaceButton{
    background: transparent;
    cursor: pointer;
    color: white;
    border: solid white 2px;
    display: inline-block;
    border-radius: 5px;
    position: relative;
    margin: 5px;
    padding: 5px;

    height: 38px;
    width: 38px;

    /*right: 30px;*/
    /*top: 15%;*/

}
.digivigilDigiscanMainInterfaceButton:hover {
    cursor: pointer;
    filter: invert(100%);
    background: black;
}
.digivigilDigiscanMainInterfaceButton:active {
    cursor: pointer;
    background: red;
    filter: invert(0%);

    border: solid white 2px;
}

#digivigilDigiscanMainInterfaceOfDigivigil{
    position: absolute;
    vertical-align: bottom;
    display: block;
    top: 35px;
    right: 0;
    font-size: 18px;
    font-family: serif;
}

#digivigilDigiscanMainInterfaceScapturaTitle{
    position: relative;  vertical-align: top;  display: inline-block;
}


@media (max-width: 600px) {

    #digivigilDigiscanMainInterfaceOfDigivigil{
        display: none;
    }

    #digivigilDigiscanMainInterfaceScapturaTitle{
        display: none;
    }

}


#digivigilDigiscanMainInterfaceOfDigivigilImage{
   position: relative;
    display: inline;
    top: 3px;
    height: 24px;
    padding: 0;
    margin: 0;
    padding-right: 5px;
}

.digivigilDigiscanMainInterfaceButtonImage{
    height: 32px;
    width: 32px;

    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-drag: none;
}


.digivigilDigiscanMainInterfaceScapturaImage{
   margin-top: 4px;
}



.digivigilDigiscanMainInterfacePreviewDiv{
    /*visibility: hidden;*/
    visibility: inherit;

    position: absolute;
    top: 80px;
    bottom: 0;
    left: 0;
    right: 0;

    overflow: scroll;
    user-select: none;

}

.digivigilDigiscanMainInterfaceTabularDiv{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    /*visibility: inherit;*/
    visibility: hidden;


}

.digivigilDigiscanMainInterfaceTabularContainer{
    margin-top: 68px;

    display: block;
    position: relative;
    height: 80%;
}
.digivigilDigiscanMainInterfaceTabularOutput{
    height: 20%;
    background: rgb(150, 125, 130);
    display: block;
    color: black;
}
.digivigilDigiscanMainInterfaceTabularStatus{
display: block;

}




.digivigilDigiscanMainInterfaceMainHeaderTitle{

    font-size: 40px;
    color: #000000;
    display: inline-block;
    margin-right: 20px;
    position: absolute;
    right: 10px;
    top: 0;
    vertical-align: top;
    font-family: 'Righteous', Arial, Helvetica, sans-serif;


padding: 0;
    margin: 0;
height: 50px;
line-height: 50px;
    vertical-align: top;
    text-align: center;
}

.digivigilDigiscanMainInterface{
    background: rgba(28, 110, 164, 0.2);
    display: inline;
    display: inline-block;
    text-align: center;
    padding: 0;
    margin: 0x;
    border: solid black 3px;
    border-radius:8px;
    visibility: visible;
    z-index: 5;
    position: absolute;
    top: 0;
    left: 0;

    right: 0;
    bottom: 0;
    -webkit-box-shadow: 0px 0px 10px 0px rgb(0, 0, 0);
    -moz-box-shadow: 0px 0px 10px 0px rgb(0, 0, 0);
    box-shadow: 0px 0px 10px 0px rgb(0, 0, 0);
    outline: none;
}

/*@font-face {*/
/*    font-family: 'Righteous';*/
/*    src: url('balek-modules/digivigil/digiscan/resources/fonts/Righteous/Righteous-Regular.ttf') format('truetype');*/
/*}*/


/* latin-ext */
@font-face {
    font-family: 'Righteous';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/righteous/v14/1cXxaUPXBpj2rGoU7C9WhnGFq8Kk1doH.woff2) format('woff2');
    unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: 'Righteous';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/righteous/v14/1cXxaUPXBpj2rGoU7C9WiHGFq8Kk1Q.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

.digivigilDigiscanMainInterfaceMainHeaderDiv{
    /*border: solid rgba(20, 75, 115, 0.8) 6px;*/
    background: rgba(20, 75, 115, 0.8);
    border-top-left-radius: 8px;
    position: absolute;
    top: -4px;
    left: -4px;
    right: -4px;
    overflow: hidden;
    height: 75px;
    min-height: 50px;
    -webkit-box-shadow: 0px 0px 10px 0px rgb(0, 0, 0);
    -moz-box-shadow: 0px 0px 10px 0px rgb(0, 0, 0);
    box-shadow: 0px 0px 10px 0px rgb(0, 0, 0);
    color: white;
    z-index: 100;
    display: flex;
    align-items: center;

    padding: 0;
    padding-left: 10px;


}
.digivigilDigiscanMainInterfaceMainContentDiv{
    position: absolute;
    top: 0;
    min-top: 0;
    left: -3px;
    right: -3px;
    bottom: -3px;
    overflow-x: hidden;
    overflow-y: scroll;
    z-index: 50;
}

.digivigilDigiscanMainInterfaceMainDiv{
    /*border: solid rgba(20, 75, 115, 0.8) 6px;*/
    border-radius: 8px;
    position: absolute;
    top: -3px;
    left: -3px;
    right: -3px;
    bottom: -3px;
    overflow: hidden;
}


.digivigilDigiscanMainInterfaceBackgroundDiv{

    border-radius: 8px;
    position: absolute;
    top: -3px;
    left: -3px;
    right: -3px;
    bottom: -3px;
    overflow: hidden;
}

.digivigilDigiscanMainInterfaceBackgroundDivImage{
   opacity: .4;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 80%;
    height: 80%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}