body {
text-align:center
}



.digivigilDigiscanMainInterfaceButton{
    background: transparent;
    cursor: pointer;
    color: white;
    border: solid transparent 2px;
    display: inline-block;
    border-radius: 5px;
    position: relative;
    margin: 5px;
    padding: 5px;

    height: 38px;
    width: 38px;


}
.digivigilDigiscanMainInterfaceButton:hover {
    cursor: pointer;
    filter: invert(100%);
    background: black;
}


.digivigilDigiscanMainInterfaceButtonImage{
    height: 18px;
    width: 18px;

    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-drag: none;
}




.digivigilDigiscanMainInterfacePreviewDiv{
    /*visibility: hidden;*/
    /*visibility: inherit;*/
    visibility: hidden;


    position: absolute;
    top:40px;
    bottom: 0;
    left: 0;
    right: 0;

    overflow: scroll;

}




.digivigilDigiscanMainInterfaceExportControl{
    /*border: solid rgba(123, 131, 134, 0.8) 1px;*/
    border-radius:5px;
    background: rgba(54, 56, 58, 0.3)
}
.digivigilDigiscanMainInterfaceExportControl:hover{
    /*border: solid rgba(123, 131, 134, 0.8) 1px;*/
    border-radius:5px;
    background: rgba(54, 56, 58, 0.8);
    color: white;
}


.digivigilDigiscanMainInterfaceSetViewControl{
    /*border: solid rgba(123, 131, 134, 0.8) 1px;*/
    border-radius: 0 0 15px 15px;
    background: rgba(54, 56, 58, 0.3)
}

.digivigilDigiscanMainInterfaceSetViewControl:hover{
    /*border: solid rgba(123, 131, 134, 0.8) 1px;*/
    background: rgba(54, 56, 58, 0.8);
    color: white;
}

.digivigilDigiscanMainInterfaceActiveViewControl{
   border: solid rgba(123, 131, 134, 0.8) 1px;
    border-radius:5px;
    background: rgba(185, 217, 232, 0.2)
}

.digivigilDigiscanMainInterfaceActiveViewControl:hover{
    border: solid rgba(123, 131, 134, 0.8) 1px;
    border-radius:5px;
    background: rgba(54, 56, 58, 0.8);
}



.digivigilDigiscanMainInterfaceActiveViewControlButton{

    background: transparent;
    cursor: pointer;
    color: white;
    border: solid white 2px;
    display: inline-block;
    border-radius: 5px;
    position: relative;
    margin: 5px;
    padding: 5px;

    height: 18px;
    width: 18px;

}

.digivigilDigiscanMainInterfaceActiveViewControlButton:Hover{
    color: black;
    border: solid black 2px;
}

.digivigilDigiscanMainInterfaceActiveViewControlButtonImage{
    height: 12px;
    width: 12px;

    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-drag: none;
}


.digivigilDigiscanMainInterfaceTabularDiv{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    /*visibility: inherit;*/
    visibility: hidden;


}

.digivigilDigiscanMainInterfaceTabularContainer{
    margin-top: 68px;

    display: block;
    position: relative;
    height: 80%;
}
.digivigilDigiscanMainInterfaceTabularOutput{
    height: 20%;
    background: rgb(150, 125, 130);
    display: block;
    color: black;
}
.digivigilDigiscanMainInterfaceTabularStatus{
display: block;

}




.digivigilDigiscanMainInterface{
    background: rgba(28, 110, 164, 0.2);
    display: inline;
    display: inline-block;
    text-align: center;
    padding: 0;
    margin: 0x;
    border: solid black 3px;
    border-radius:8px;
    visibility: visible;
    z-index: 5;
    position: absolute;
    top: 0;
    left: 0;

    right: 0;
    bottom: 0;
    -webkit-box-shadow: 0px 0px 10px 0px rgb(0, 0, 0);
    -moz-box-shadow: 0px 0px 10px 0px rgb(0, 0, 0);
    box-shadow: 0px 0px 10px 0px rgb(0, 0, 0);
    outline: none;
}

/*@font-face {*/
/*    font-family: 'Righteous';*/
/*    src: url('balek-modules/digivigil/digiscan/resources/fonts/Righteous/Righteous-Regular.ttf') format('truetype');*/
/*}*/


/* latin-ext */
@font-face {
    font-family: 'Righteous';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/righteous/v14/1cXxaUPXBpj2rGoU7C9WhnGFq8Kk1doH.woff2) format('woff2');
    unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: 'Righteous';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/righteous/v14/1cXxaUPXBpj2rGoU7C9WiHGFq8Kk1Q.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

.digivigilDigiscanMainInterfaceMainHeaderDiv{
    /*border: solid rgba(20, 75, 115, 0.8) 6px;*/
    background: rgba(20, 75, 115, 0.1);
    border-top-left-radius: 8px;
    position: absolute;
    top: -4px;
    left: -4px;
    right: -4px;
    overflow: hidden;
    height: 40px;

    -webkit-box-shadow: 0px 0px 10px 0px rgb(0, 0, 0);
    -moz-box-shadow: 0px 0px 10px 0px rgb(0, 0, 0);
    box-shadow: 0px 0px 10px 0px rgb(0, 0, 0);
    color: white;
    z-index: 100;
    display: flex;
    align-items: center;

    padding: 0;
    padding-left: 10px;


}
.digivigilDigiscanMainInterfaceMainContentDiv{
    position: absolute;
    top: 0;
    min-top: 0;
    left: -3px;
    right: -3px;
    bottom: -3px;
    overflow-x: hidden;
    overflow-y: scroll;
    z-index: 50;
}


.digivigilDigiscanMainInterfaceMainDiv{
    /*border: solid rgba(20, 75, 115, 0.8) 6px;*/
    border-radius: 8px;
    position: absolute;
    top: -3px;
    left: -3px;
    right: -3px;
    bottom: -3px;
    overflow: hidden;
}
.digivigilDigiscanMainInterfaceStatusDiv{
    min-height: 20px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

.digivigilDigiscanMainInterfaceBackgroundDiv{

    border-radius: 8px;
    position: absolute;
    top: -3px;
    left: -3px;
    right: -3px;
    bottom: -3px;
    overflow: hidden;

    background-color: rgba(79, 96, 128, 0.6);
}

.digivigilDigiscanMainInterfaceBackgroundDivImage{
   opacity: .2;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 80%;
    height: 80%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}