.digivigilDigiscanCapturesTabularViewInterface {
    color: #ffffff;
    background: none;
    display: block;
    text-align: left;
    padding: 0;
    margin:0;
    width: 100%;
    border: solid black 2px;
}
.digivigilDigiscanCapturesTabularViewInterfaceHeaderDiv {
    color: #ffffff;
    background: black;
    width: 100%;
    display: grid;
    grid-template-columns: 70px 100px 150px 150px auto;
    grid-template-rows: auto;
    gap: 0px 0px;
    grid-template-areas:
    "SetActionsHeaderDiv CreatedHeaderDiv BarcodeHeaderDiv NoteHeaderDiv  RecognizedTextHeaderDiv";
    padding: 2px;
    margin:0;
}
.digivigilDigiscanCapturesTabularViewInterfaceContentDiv {
    color: #ffffff;
    background: rgba(47, 115, 20, 0.9);
    display: block;
    text-align: left;
    padding: 0;
    margin:0;
    width: 100%;
}


.digivigilDigiscanCapturesTabularViewInterfaceHeaderCellDiv {
    color: white;
    font-weight: bold;
    padding: 3px;
    margin: 3px;
}

