.scapturaUIAbout{
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: solid white 3px;
    border-radius:10px;
    width: 80%;
    height: 80%;

    background: rgba(78, 85, 115, 0.8);
}

.scapturaUIAboutMainHeaderTitle{

    font-size: 40px;
    color: #000000;
    display: inline-block;


    font-family: 'Righteous', Arial, Helvetica, sans-serif;


    padding: 0;
    margin: 0;
    height: 50px;
    line-height: 50px;

    text-align: center;



}

.scapturaUIAboutScapturaImage{
    margin-top: 4px;
}

#scapturaUIAboutScapturaTitle{

}



#scapturaUIAboutOfDigivigil{
    right: 0;
    font-size: 18px;
    font-family: serif;
}


#scapturaUIAboutOfDigivigilImage{
height: 50px;
}

@media (max-width: 600px) {

    #scapturaUIAboutOfDigivigil{
        display: none;
    }

    #scapturaUIAboutScapturaTitle{
        display: none;
    }

}


