.scapturaUIAbout{
    position: absolute;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius:10px;
    /*width: 100%;*/
    /*height: 100%;*/
    color: black;

    display: inline-block;
    border: solid #0c0c10 3px;
    background: rgba(122, 117, 117, 0.76);
}

.scapturaUIAboutButton{
    display: inline-block;
    cursor: pointer;
}
.scapturaUIAboutButton:hover{
    filter: invert();
}

    .scapturaUIAboutButtonImage {
    width: 100px;
    height: 100px;
   filter: invert();
}

.scapturaUIAboutMainHeaderTitle{
margin: 30px;
}

.scapturaUIAboutDescriptionDiv{
    color: black;
    text-align: left;

    padding: 50px;
    margin: 20px;

    padding-top: 10px;

    display: inline-block;

}

.scapturaUIAboutMainHeaderTitleGridContainer {
    position: relative;
    display: inline-grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto ;
    gap: 0px 0px;
    grid-template-areas:
    "ScapturaImage ScapturaTitle";



    border: solid #0c0c10 3px;
background: rgba(128, 128, 128, 0.9);
    border-radius: 10px;
}


.scapturaUIAboutScapturaImage{
    margin-top: 4px;
}

#scapturaUIAboutScapturaTitle{
    position: relative;
    font-size: 80px;
    color: #000000;
    display: inline-block;
    font-family: 'Righteous', Arial, Helvetica, sans-serif;
    padding: 10px;
    padding-top: 20px;
    margin: 0;
    line-height: 100px;
    text-align: left;
    grid-area: ScapturaTitle;

}


#scapturaUIAboutScapturaImageDiv{

    grid-area: ScapturaImage;

}

#scapturaUIAboutOfDigivigil{
    right: 0;
    font-size: 56px;
    font-family: serif;
    color: black;

    padding: 10px;

    grid-area: OfDigivigil;

    vertical-align: top;

    line-height: 40px;

}


#scapturaUIAboutOfDiv{
    position: absolute;
    font-size: 36px;
    font-family: serif;
    color: black;

    top: 75px;
    left: 130px;

}


#scapturaUIAboutOfDigivigilImage{

height: 60px;
    padding: 0;
}

@media (max-width: 600px) {

    #scapturaUIAboutOfDigivigil{
        display: none;
    }

    #scapturaUIAboutScapturaTitle{
        display: none;
    }

}


