
.diaplodeUIInputGetUserInput {
    position: absolute;

    padding: 10px;
    margin: 10px;
    opacity: 1;


    border: solid black 2px;
    color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background: rgba(25, 51, 153, 0.62);
}


.diaplodeUIInputGetUserInputImage {
   width: 100px;
}

.diaplodeUIInputGetUserInputUserInputField{
    width: 250px;
    background: rgba(16, 5, 122, 0.67);
    border: white ;
    color: white;
    text-align: center;
}

