body {
	background-color: grey;
	color: #bbbbbb;

	overflow:hidden;
	height: 100%;
	margin: 0;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background: rgb(0, 0, 0);

	display: block;

	text-align: center;

	-ms-overflow-style:none;

	overflow-y: scroll;
	scrollbar-width: none; /* Firefox */
	-ms-overflow-style: none;  /* Internet Explorer 10+ */

}
::-webkit-scrollbar {
	display: none;
}

::-webkit-scrollbar-button {
	display: none;
}

.layerManagerNode {
	position: absolute;
	top:0px;
	left:0px;
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
	background: none;
	border: none;


	border: none;
	display: block;

	overflow: scroll;
	scrollbar-width: none; /* Firefox */
	-ms-overflow-style: none;  /* Internet Explorer 10+ */

}

.layerManagerNode::-webkit-scrollbar { /* WebKit */
	width: 0;
	height: 0;
}

.layerManagerDialogLayerNode{
	background: rgba(67, 0, 255, 0.41);

	visibility: hidden;

}

.layerManagerMainContentLayerNode {
}


.layerManagerBackgroundLayerNode{
	background: -webkit-gradient(linear, left bottom, left top, from(rgba(166, 255, 178, 0.45)), to(#a6ffb2));



	/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#7db9e8+3,7db9e8+3,207cca+63,1e5799+97 */
	background: #7db9e8; /* Old browsers */
	background: radial-gradient(ellipse at center,  #7db9e8 3%,#7db9e8 3%,#207cca 63%,#1e5799 97%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7db9e8', endColorstr='#1e5799',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */



}

.balekWorkspaceNode{
position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;

	padding-top: 50px;

	background: rgba(0,0,0,.2);
}

