.usersInfoSessionInfoInterface {
    position: relative;
    color: #ffffff;
    background: rgba(20, 75, 115, 0.8);
    display: block;
    text-align: center;
    padding: 0;
    border: solid black 2px;
    border-radius: 15px;
    min-width: 40vw;
    margin: 20px;
    outline: none;
    cursor: auto;
}



.usersInfoSessionInfoInterfaceMainDiv {
    position: relative;

    display: inline-block;
    background: #0c334f;
    border: solid #c2c2c2 2px;
    border-radius: 5px;
    padding: 5px;

    cursor: pointer;
}


.usersInfoSessionInfoInterfaceControlDiv {
    position: relative;

    display: inline-block;
    background: #0c334f;
    border: solid #c2c2c2 2px;
    border-radius: 5px;
    padding: 5px;
    font-size: 16px;
    cursor: pointer;

}


.usersInfoSessionInfoInterfaceButtonDiv {
    position: relative;

    display: inline-block;
    background: #0c334f;
    border: solid #c2c2c2 2px;
    border-radius: 5px;
    padding: 5px;
    font-size: 24px;
    cursor: pointer;

}
.usersInfoSessionInfoInterfaceButtonDiv:hover {
    background: rgba(187, 131, 199, 0.73);
    border: solid rgba(224, 227, 172, 0.63) 2px;
    color: black;
}

.usersInfoSessionInfoInterfaceNameDiv{
    font-weight: bold;
    font-size: 26px;
}