
.userInfoContainer {  display: grid;
    position: relative;
    grid-template-columns: 200px auto;
    grid-template-rows: 200px auto;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
    "User Info"
    "Sessions Sessions";

}


.userInfoSessionsContainer { grid-area: Sessions;
    position: relative;

    border: none;



}

.userInfoUserContainer { grid-area: User;
    position: relative;
   }

.userInfoInfoContainer { grid-area: Info;
    position: relative;


 }


.userInfo {
    color: white;
    display: block;
    position: absolute;
    padding:0;
    padding-right: 5px;

    border-bottom:  solid rgba(0, 0, 0, 0.68) 4px;
    border-radius: 15px;

    background: rgba(0, 0, 0, 0.21);

    text-align: center;
}

.userInfoCurrentSessionDiv {
    display: inline-block;
    position: relative;
    top:0px;
    bottom: 0;
    left: 0px;
    right: 0px;
    height: 100%;
    border:  solid rgba(30, 29, 29, 0.64)  2px;
    border-top:  solid rgba(0, 0, 0, 0.68) 4px;
    border-right:  solid rgba(0, 0, 0, 0.68) 4px;
    border-bottom:  solid rgba(0, 0, 0, 0.68) 4px;
    border-top-right-radius: 15px;
    margin: 0;
    min-width:300px;
    padding: 0;
    width: 100%;
    text-align:left;
    background: rgba(12, 51, 79, 0.64);
    display: flex;
    flex-direction: column;



}

.userInfoCurrentSessionLabelDiv {
    display: inline-block;
    vertical-align: top;
    margin: 10px;
    margin-top: 0;
    padding: 10px;
    cursor: pointer;
    word-break: break-all;
    height: 100px;
    overflow: scroll;
}

.userInfoCurrentSessionButtonsSpan{
    margin-top: auto;
    padding: 10px;
}


.userInfoButtonSessionSpan{
    display: inline-block;
    border: solid black 2px;
    padding: 5px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    float: right;
    margin: 10px;


}
.userInfoButtonSessionSpan:hover{
    color: black;

    background: rgba(187, 131, 199, 0.73);
    border: solid rgba(224, 227, 172, 0.63) 2px;
    color: black;

}
.userInfoCurrentSessionHeader{
    text-align: left;
    vertical-align: top;
    margin: 10px;
}


.userInfoUserInfoDiv{
    display: inline-block;
    position: absolute;
    top:0px;
    bottom: 0;
    left: 0px;
    right: 0px;
    height: 100%;
    border:  solid rgba(30, 29, 29, 0.64)  2px;
    border-top:  solid rgba(0, 0, 0, 0.68) 4px;
    border-left:  solid rgba(0, 0, 0, 0.68) 4px;
    border-bottom:  solid rgba(0, 0, 0, 0.68) 4px;
    border-top-left-radius: 15px;
    background: rgba(10, 14, 20, 0.33);
    align-content: center;
    padding: 0;
}

.userInfoUserImageDiv {
    display: inline-block;
    border: solid black 4px;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    background: rgba(12, 51, 79, 0.64);
    cursor: pointer;
}


.userInfoUserImage {
   height: 100px;
}


.userInfoUserLabel {
    display: block;
    margin: 10px;
    margin-top: 0;
    font-size: 18pt;

    padding: 5px;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;

}
.userInfoUserLabel:hover {
    color: black
}

.userInfoAvailableSessions {
    border: solid rgba(15, 15, 59, 0.38) 3px;
    border-radius: 5px;
    max-height: 500px;
    overflow: scroll;
    display: block;
    margin: 10px;

    background: rgba(0, 0, 0, 0.18);
}

.userInfoFileInput {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}
.userInfoFileInputLabel{
    cursor: pointer;
}