
.userInfo {
    display: inline-block;
    position: relative;
    top: 100px;
    left: 10px;
    background: rgba(12, 51, 79, 0.64);
    color: white;
    border: solid black 4px;
    border-radius: 15px;
    padding: 20px;
}

.userInfoUserImage {
    display: inline-block;
    border: solid black 4px;
    border-radius: 15px;
    margin: 10px;
    padding: 5px;
    background: rgba(12, 51, 79, 0.64);
}

.userInfoUserLabel {
    display: inline-block;
    margin: 10px;
    font-size: 24pt;
}

.userInfoAvailableSessionDiv {
    cursor: pointer;
    padding: 3px;
    margin: 4px;
    border: solid grey 2px;
    border-radius: 5px;
}

.userInfoAvailableSessionDiv:hover {
    color: red;
    border: solid white 2px;
}

.userInfoAvailableSessions {
    border: solid #0f0f3b 3px;
    max-height: 500px;
    overflow: scroll;
}

.userInfoFileInput {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}
