.diaplodeNavigatorInterfaceWorkspacesMenuNavigatorMainWidget{
    position: relative;
    display: inline-block;
    top:0;
    left: 0;
    background: none;
    z-index: 6000;
    color: white;
    outline: none;
    opacity: 1;

    border: solid #050530 3px;
    -webkit-box-shadow: 0px 0px 15px 8px #050530;
    box-shadow: 0px 0px 15px 8px #050530;
    border-radius: 15px;

    border: solid black 3px;
    padding:0px;
    margin: 0px;


    font-size: 14pt;

text-align: center;
background: rgba(0,0,0,.5);

    cursor: move;
}

.diaplodeNavigatorInterfaceWorkspacesMenuNavigatorMainWidgetAddCommandDiv{

    border: solid white 3px;

    cursor: pointer;
}


.diaplodeNavigatorInterfaceWorkspacesMenuNavigatorMainWidgetWorkspaceNameDiv{

    border: solid white 3px;

    white-space: nowrap;
    cursor: pointer;
    margin: 10px;
    padding:5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
}
.diaplodeNavigatorInterfaceWorkspacesMenuNavigatorMainWidgetWorkspaceNameDivActive {

    border: solid black 3px;
    color: black;
    background: rgba(255,255,255,.8);

}


.diaplodeNavigatorInterfaceWorkspacesMenuNavigatorMainWidgetWorkspaceNameDiv:hover{

    border: solid black 3px;
    white-space: nowrap;
    cursor: pointer;
}