
.diaplodeNavigatorInterfaceMenuItem {
    position: relative;
    display: block;
   left: 100px;
    width: 150px;
    height: 30px;
    opacity: 1;
    color: white;
    border: solid white 3px;
    font-size: 12px;
    border-radius: 5px;
}

.diaplodeNavigatorInterfaceMenuItemNameDiv {
    position: absolute;
    height: 30px;
    width: 120px;
}



.diaplodeNavigatorInterfaceMenuItemImage {
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
}