.diaplodeNavigatorInterfaceSystemMenuWidget{
    position: relative;
    display: block;
    top:0;
    left: 0;
    background: none;
    z-index: 6000;
    color: black;
    outline: none;
    opacity: 1;

    border: solid #050530 3px;
    -webkit-box-shadow: 0px 0px 15px 8px #050530;
    box-shadow: 0px 0px 15px 8px #050530;
    border-radius: 50%;

cursor: pointer;
    padding:0;
    margin: 0;
    width: 100px;
    height:100px;
}

.diaplodeNavigatorInterfaceSystemMenuWidget:focus{
    border: solid #50d1d1 3px;
}

.diaplodeNavigatorInterfaceSystemMenuWidgetImage{
    position: absolute;
    top:0;
    left: 0;
    padding: 0;
    margin: 0;
    width: 100px;
    height: 100px;
}

.diaplodeNavigatorInterfaceSystemMenuWidgetTitle{
    position: absolute;
    color: white;
    position: absolute;
    padding: 5px;
    border-radius: 5px;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    border: solid white 3px;

    background: rgba(17, 89, 98, 0.4);
}