.diaplodeNavigatorInterfaceSystemMenuWidget{
    position: relative;
    display: inline-block;
    top:0;
    left: 0;
    background: none;
    z-index: 6000;
    color: black;
    outline: none;
    opacity: 1;

    border: solid #050530 3px;
    -webkit-box-shadow: 0px 0px 15px 8px #050530;
    box-shadow: 0px 0px 15px 8px #050530;
    border-radius: 50%;

    padding:0;
    margin: 0;
    width: 75px;
    height:75px;
pointer-events: auto;

    border: solid transparent 3px;

}

.diaplodeNavigatorInterfaceSystemMenuWidget:hover{
    border: solid purple 3px;

}

.diaplodeNavigatorInterfaceSystemMenuWidget:focus{
    border: solid #50d1d1 3px;
}

.diaplodeNavigatorInterfaceSystemMenuWidgetImage{
    position: absolute;
    top:0;
    left: 0;
    padding: 0;
    margin: 0;
    width: 75px;
    height:75px;

}

.diaplodeNavigatorInterfaceSystemMenuWidgetTitle{
    position: absolute;
    color: white;
    position: absolute;
    padding: 5px;
    border-radius: 5px;
    top: 0;
    left: 50%;
    transform: translateX(-50%) translateY(-20px);
    border: solid white 3px;


    background: rgba(17, 89, 98, 0.4);
}

.diaplodeNavigatorInterfaceSystemMenuWidgetEmoji{
    position: absolute;

    position: absolute;
    padding: 5px;
    border-radius: 5px;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    font-size: 50px;
    background: none;
    height: 50px;
    cursor: pointer;

    border-radius: 50%;

    vertical-align: top;
}


.diaplodeNavigatorInterfaceSystemMenuWidgetMenuItems{
    position: relative;
    display: inline-block;
    width: 70vw;
    height: 70vh;
    pointer-events: none;
}
